<div class="container col-6 mt-5">
  <div class="row">
    <div class="col-12 mb-5" style="text-align:center;">
      <h2 class="col-12">請修改你的支出</h2>
    </div>
    <form action="/records/{{item.id}}?_method=PUT" method="POST" class="col-12">
      <div class="col-12">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">名稱 *</span>
          </div>
          <input type="text" class="form-control" name="name" value="{{item.name}}" placeholder="輸入支出名稱">

        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">日期 *</span>
          </div>
          <input type="date" class="form-control" name="date" value="{{date2}}">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">類別 *</span>
          </div>
          <select class="custom-select" name="category">
            <option {{#ifselect item.category '類別'}}selected="selected" {{/ifselect}}>類別</option>
            <option {{#ifselect item.category '家居物業'}}selected="selected" {{/ifselect}} value="家居物業">家居物業</option>
            <option {{#ifselect item.category '交通出行'}}selected="selected" {{/ifselect}} value="交通出行">交通出行</option>
            <option {{#ifselect item.category '休閒娛樂'}}selected="selected" {{/ifselect}} value="休閒娛樂">休閒娛樂</option>
            <option {{#ifselect item.category '餐飲食品'}}selected="selected" {{/ifselect}} value="餐飲食品">餐飲食品</option>
            <option {{#ifselect item.category '其他'}}selected="selected" {{/ifselect}} value="其他">其他</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">金額 *</span>
          </div>
          <input type="number" class="form-control" name="amount" value="{{item.amount}}" placeholder="輸入金額">
        </div>
        <button type="submit" class="btn btn-primary mr-auto ">送出</button>

      </div>

    </form>
  </div>
</div>